<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8"/>
    <meta mame="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Main </title>   
    <link rel="stylesheet" href="main.css" /> 
    <link rel="stylesheet" href="card.css" /> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <main>

        <!-- <section class="glass"> -->
            
            
                
                    <div class="card">
                        <div class="card_content">
                            
                            
                            <img src="imgs/kitty.png" width="200" height="200" alt="where">
                            <div>
                                <div class="upper_line">
                                    <div class="card_title">
                                         <b>Text1</b> 
                                    </div>
                                    
                                    <!-- <div class="marks">
                                         69% 
                                    </div>   -->                        

                                </div>
                                
                                <div class="description">
                                    
                                    <p><span><b>Text1</b> </span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa officiis, beatae saepe omnis eius deleniti dicta quis dolor aperiam, numquam obcaecati ducimus inventore quam eveniet voluptates. Exercitationem ut dolore, libero ea dolorum excepturi quisquam esse ullam quas officiis repudiandae quis quia, nesciunt natus minus. Tenetur accusantium dolore ipsum quas esse necessitatibus in, impedit veniam at! Assumenda consectetur ab provident molestiae nam explicabo quibusdam. Placeat tempora at quam maxime facere odit error, soluta tempore suscipit id iusto vitae culpa necessitatibus labore dolor. At recusandae neque natus debitis! Omnis, vel. Quod pariatur ipsa distinctio delectus modi autem quo, consectetur possimus quam aperiam.</p>  </div>
                            
                                
                                </div>
                            </div>
                            
                        <div class="progress_bar">    
                            <div class="progress">
                                <!---->
                            </div>
                         </div>   
                    </div>
                    
           <!--  </div> -->
            
        </section>
    </main>
    

</body>
</html>